// Colors from https://colorpalettes.net/color-palette-2564/

.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
body {
	background-color: #50423d;
	color: #8b8da0;
	font-family: 'Fira Code', monospace;
}
a {
	text-decoration: none;
	color: #8b8da0
}
